body {
    color: #D9D9D9;
    background-color: #025920;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .img-container{
    text-align: center;
    display: block;
  }
  
  section {
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .image {
    display: flex;
    align-items: center;
  }
  
  .image img {
    max-width: 200px;
    height: auto;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  #por-que-reciclar .content {
    flex-direction: row-reverse;
  }

  .btn {
    display: block;
    margin-top: 20px;
    background-color: #01260E;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
  }